body {
    margin: 0;
    background-color: #1b1f27;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}



* {
    margin: 0;
    padding: 0;
}


a{
    color: #5568fe;
    text-decoration: none;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}

a::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #5568fe;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover::after{
    width: 100%;
    left: 0;
}
a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: #6173fa 0px 0px 10px;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:#181920;
    height: 8vh;
}
main {
    background: url(img/To\ the\ stars-cuate.png) no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    text-shadow: #6173fa 0px 0px 10px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #5568fe;
    margin: 8px;
    transition: 0.3s;
}


.register img {
    width: 20px;
}

.volta {
    text-align: center;
}

.register {
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 8px;
    width: 370px;
    height: 385px;
    padding: 35px;
    box-shadow: 0px 10px 25px#14161b;
    position: relative;
}

.footer{
  color: #cbd0f7;
}  

.checkbox {
    position: absolute;
    bottom: 23px;
    margin-right: 360px;
}

.volta h1 {
    color: #5568fe;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: #6173fa 0px 3px 4px;
}

.reg h1 {
    color: #5568fe;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: #6173fa 0px 3px 4px;
    width: auto;
    margin-bottom: 40px;
    height: 2px;
    box-shadow: 0px 3px 4px #6173fa;
    background-color: #5568fe;
}

.checkbox input{ 
    display: none;
}

.checkbox input +label::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color:#252a34 ;
    display: inline-block;
    cursor: pointer;
}

.checkbox input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
    background-color: #5568fe;
    background-position: center;
    border: none;
    padding: 0px;
}

.chatbox input {
    margin-top: 10px;
    background-color: #252a34;
    padding-left: 10px;
    color: #cbd0f7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    box-shadow: 0px 10px 20px #14161b;
    box-sizing: border-box;
}


input::placeholder{
    color: #cbd0f7;
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: #5568fe;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    letter-spacing: 3px;
    box-shadow: 0px 10px 40px -12px #6173fa;
    color: #1b1f27;
}

.area-reg {
    text-align: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.chatbox form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.register form {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.site img{
    margin-top: 10px;
    width: 40px;
    height: auto;
    display: inline;
}
